<div class="card shadow" style="background-color: #fff;">
  <div class="navbar-expand-lg" >
    <!-- Navbar Toggle -->
    <button class="navbar-toggler w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-controls="navbarVerticalNavMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="d-flex justify-content-between align-items-center">
        <span class="navbar-toggler-text">Nav menu</span>
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </span>
    </button>
    <!-- End Navbar Toggle -->

    <aside id="navbarVerticalNavMenu" class="js-navbar-vertical-aside navbar navbar-vertical navbar-vertical-fixed navbar-vertical-detached navbar-vertical-detached-no-gutters navbar-collapse collapse bg-transparent">
      <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset">
          <!-- Content -->
          <div class="navbar-vertical-content">
            <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
              
              <!-- End Collapse -->

              <span class="dropdown-header mt-4">DASHBOARD</span>
              <small class="bi-three-dots nav-subtitle-replacer"></small>

              <!-- Collapse -->
              <div class="navbar-nav nav-compact">

              </div>
              <!-- Collapse -->
              <div class="nav-item">
                <a class="nav-link  active" href="#navbarVerticalMenuDashboards" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="true" aria-controls="navbarVerticalMenuDashboards">
                  <i class="bi-house-door nav-icon"></i>
                  <span class="nav-link-title">My Dashboard</span>
                </a>

                
              </div>
              <div id="navbarVerticalMenuPagesMenu">
                <!-- Collapse -->
               
                <!-- End Collapse -->
                <div class="nav-item">
                  <a class="nav-link dropdown-toggle " href="#sub" role="button" data-bs-toggle="collapse" data-bs-target="#sub" aria-expanded="false" aria-controls="sub">
                    <i class="bi-person nav-icon"></i>
                    <span class="nav-link-title">Subjects <span class="badge bg-primary rounded-pill ms-1">5</span></span>
                  </a>
                  <div id="sub" class="nav-collapse collapse " data-bs-parent="#sub">
                    <a class="nav-link " href="./account-settings.html">Add Subjects</a>
                    <a class="nav-link " href="./account-invoice.html">All Subjects</a>
                  </div>
                </div>
                <div class="nav-item">
                  <a class="nav-link dropdown-toggle " href="#ch" role="button" data-bs-toggle="collapse" data-bs-target="#ch" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUserProfileMenu">
                    <i class="bi-person nav-icon"></i>
                    <span class="nav-link-title">Chapters<span class="badge bg-primary rounded-pill ms-1">5</span></span>
                  </a>
                  <div id="ch" class="nav-collapse collapse " data-bs-parent="#ch">
                    <a class="nav-link " href="./account-settings.html">Add Chapters</a>
                    <a class="nav-link " href="./account-invoice.html">All Chapters</a>
                  </div>
                </div>
                
                <!-- Collapse -->
                <div class="nav-item">
                  <a class="nav-link dropdown-toggle " href="#co" role="button" data-bs-toggle="collapse" data-bs-target="#co" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUserProfileMenu">
                    <i class="bi-person nav-icon"></i>
                    <span class="nav-link-title">Courese <span class="badge bg-primary rounded-pill ms-1">5</span></span>
                  </a>
                  <div id="co" class="nav-collapse collapse " data-bs-parent="#co">
                    <a class="nav-link " href="./account-settings.html">Add Courese</a>
                    <a class="nav-link " href="/course">All Exercises</a>
                  </div>
                </div>

                <div class="nav-item">
                  <a class="nav-link dropdown-toggle " href="#ex" role="button" data-bs-toggle="collapse" data-bs-target="#ex" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUserProfileMenu">
                    <i class="bi-person nav-icon"></i>
                    <span class="nav-link-title">Exercises <span class="badge bg-primary rounded-pill ms-1">5</span></span>
                  </a>
                  <div id="ex" class="nav-collapse collapse " data-bs-parent="#ex">
                    <a class="nav-link " href="./account-settings.html">Add Exercises</a>
                    <a class="nav-link " href="./account-billing.html">Exercises Resuts</a>
                    <a class="nav-link " href="./account-invoice.html">All Exercises</a>
                  </div>
                </div>
                
                <div class="nav-item">
                  <a class="nav-link dropdown-toggle " href="#Quizes" role="button" data-bs-toggle="collapse" data-bs-target="#Quizes" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUserProfileMenu">
                    <i class="bi-person nav-icon"></i>
                    <span class="nav-link-title">Quizes<span class="badge bg-primary rounded-pill ms-1">5</span></span>
                  </a>
                  <div id="Quizes" class="nav-collapse collapse " data-bs-parent="#Quizes">
                    <a class="nav-link " href="./account-settings.html">Add Quiz</a>
                    <a class="nav-link " href="./account-billing.html">Quiz Resuts</a>
                    <a class="nav-link " href="./account-invoice.html">All Quizes</a>
                  </div>
                </div>

               
                <!-- End Collapse -->
                <span class="dropdown-header mt-4">ACCOUNT SETTINGS</span>
                <small class="bi-three-dots nav-subtitle-replacer"></small>
  
                <!-- Collapse -->
                <div class="navbar-nav nav-compact">
  
                </div>
                <!-- Collapse -->
                <div class="nav-item">
                  <a class="nav-link " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
                    <i class="bi-person-badge nav-icon"></i>
                    <span class="nav-link-title">Edit Profile</span>
                  </a>

                  
                </div>
                <div class="nav-item">
                  <a class="nav-link " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
                    <i class="bi-person-badge nav-icon"></i>
                    <span class="nav-link-title">Sequrity</span>
                  </a>

                  
                </div>
                <div class="nav-item">
                  <a class="nav-link " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
                    <i class="bi-person-badge nav-icon"></i>
                    <span class="nav-link-title">Profile Privacy</span>
                  </a>

                  
                </div>

                <div class="nav-item">
                  <a class="nav-link " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
                    <i class="bi-person-badge nav-icon"></i>
                    <span class="nav-link-title">Social Profile Link</span>
                  </a>

                  
                </div>

                <div class="nav-item">
                  <a class="nav-link " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
                    <i class="bi-person-badge nav-icon"></i>
                    <span class="nav-link-title">Sign Out</span>
                  </a>

                  
                </div>
                <!-- End Collapse -->

            </div>
            </div>

          </div>
          <!-- End Content -->

          <!-- Footer -->
          <div class="navbar-vertical-footer">
            <ul class="navbar-vertical-footer-list">
              <li class="navbar-vertical-footer-list-item">
                <!-- Style Switcher -->
                <div class="dropdown dropup">
                  <button type="button" class="btn btn-ghost-secondary btn-icon rounded-circle" id="selectThemeDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>

                  </button>

                  <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="selectThemeDropdown">
                    <a class="dropdown-item" href="#" data-icon="bi-moon-stars" data-value="auto">
                      <i class="bi-moon-stars me-2"></i>
                      <span class="text-truncate" title="Auto (system default)">Auto (system default)</span>
                    </a>
                    <a class="dropdown-item" href="#" data-icon="bi-brightness-high" data-value="default">
                      <i class="bi-brightness-high me-2"></i>
                      <span class="text-truncate" title="Default (light mode)">Default (light mode)</span>
                    </a>
                    <a class="dropdown-item active" href="#" data-icon="bi-moon" data-value="dark">
                      <i class="bi-moon me-2"></i>
                      <span class="text-truncate" title="Dark">Dark</span>
                    </a>
                  </div>
                </div>

                <!-- End Style Switcher -->
              </li>

             

              <li class="navbar-vertical-footer-list-item">
                <!-- Language -->
                <div class="dropdown dropup">
                  <button type="button" class="btn btn-ghost-secondary btn-icon rounded-circle" id="selectLanguageDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                    <img class="avatar avatar-xss avatar-circle" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="United States Flag">
                  </button>

                  <div class="dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="selectLanguageDropdown">
                    <span class="dropdown-header">Select language</span>
                    <a class="dropdown-item" href="#">
                      <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Flag">
                      <span class="text-truncate" title="English">English (US)</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/gb.svg" alt="Flag">
                      <span class="text-truncate" title="English">English (UK)</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Flag">
                      <span class="text-truncate" title="Deutsch">Deutsch</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/dk.svg" alt="Flag">
                      <span class="text-truncate" title="Dansk">Dansk</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/it.svg" alt="Flag">
                      <span class="text-truncate" title="Italiano">Italiano</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Flag">
                      <span class="text-truncate" title="中文 (繁體)">中文 (繁體)</span>
                    </a>
                  </div>
                </div>

                <!-- End Language -->
              </li>
            </ul>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </aside>
  </div>
</div>
